/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

/* ---------------------------------
HEADER
------------------------------------ */
nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
  padding: 20px;
}

header {
  position: relative;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/pic5.jpg');
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
}

header h2 {
  color: #2188FF;
  padding-bottom: 50px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  padding-right: 75px;
}

/* ---------------------------------
ABOUT
------------------------------------ */
.about {
  background-color: #78BF61;
  padding: 40px 100px 175px 100px;
  height: 100%;
}

.about h2 {
  font-size: 35px;
}

main p {
  padding-bottom: 100px;
}

.grid-wrap {
  display: grid;
  grid-column-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 100px;
  padding-top: 100px;
  height: 100%;
}

/* ---------------------------------
RESUME
------------------------------------ */
.resume {
  background-color: #73ACDD;
  padding: 40px 100px 175px 100px;
  height: 100%;
  width: 100%;
}

.resume h2 {
  top: 0;
}

.ul2 {
  list-style-position: inside;
}

/* ---------------------------------
EXPERIENCE
------------------------------------ */
.experience {
  background-color: #909CC2;
  padding: 60px 100px 60px 100px;
  height: 100%;
}

.ul {
  list-style-position: inside;
}

/* ---------------------------------
CONTACT
------------------------------------ */
.footer {
  background-color: #9BC1BC;
  padding: 60px 100px 60px 100px;
  height: 100%;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 200;
}

.footer h2 {
  font-size: 25px;
}

.contact-section {
  margin: 0;
}

.j-line {
  width: 38%;
  margin-top: 0;
}

.social-footer img {
  width: 35px;
  height: 35px;
  padding-left: 1% 0 1% 0;
}

.created-by {
  color: white;
  font-size: 12px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 100%;
  bottom: 0%;
}